.tela-consulta h2 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2%;
}
.input-container {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}

.tela-consulta label {
    width: 150px; 
    text-align: right; 
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.input-container input {
    width: 400px;
    padding: 5px;
}

.tela-consulta button {
    padding: 5px 50px;
    margin-left:60px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, #049a8f, #049a8f) ;
    color: #fff;
    border-radius: 15px;
}

.tela-consulta button:hover {
    background: linear-gradient(to right, #4776E6, #049a8f);
}

.resultado-consulta {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px; 
}
.resultado-consulta h3{
    color: #fff;
    font-weight: bold;
}
.resultado-consulta ul {
    background-color: #2e9194;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Andale Mono', monospace;
    padding: 10px;
    list-style: none; 
}

.resultado-consulta ul li {
    margin-bottom: 5px;
}

.resultado-consulta h2 {
    color: #333; 
    font-size: 24px; 
    margin-bottom: 15px; 
}


